* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 34px;
  margin-bottom: 10px;
}

button {
  cursor: pointer;
  border: none;
  color: white;
  background-color: #0082df;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

button:hover {
  background-color: #0056b3;
}

.navside-btn {
  margin: 0px 10px;
}

.logoside {
  font-weight: bold;
}

.navside {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  height: 5vh;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
  background: linear-gradient(200deg, #b6d1ef 50%, #b8ffa9 100%);
}

/* For tablets and small desktops */
@media (max-width: 992px) {
  .navbar {
    padding: 10px 100px;
  }
  .infocard {
    padding-left: 0px;
    padding-right: 0px;
  }
}

/* For mobile phones */
@media (max-width: 768px) {
  .navbar {
    padding: 10px 50px;
    flex-direction: column;
    justify-content: center;
    height: 20vh;
  }
  .navside {
    flex-direction: row;
  }

  .navside-btn {
    margin: 10px 5px;
  }

  .logoside {
    font-size: larger;
    margin: 20px;
  }

  .infodisplay {
    width: 100%;
  }
}

/* Information display section */

.infodisplay {
  width: 80%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

.infocard {
  width: 300px;
  height: fit-content;
  margin: 20px;
  padding: 10px;
  border: 1px solid #b6d1ef;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* hero splash area */
.herosplash {
  width: 100%;
  height: 500px;
  background: linear-gradient(to right, transparent -50%, rgba(255, 255, 255, 0.9) 100%), url("./Images/trees-splash-page.jpg");
  background-size: cover;
  background-position: left 65%;
}

.splash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.splash-container h2,
p,
button {
  margin-bottom: 20px;
}

.order-btn {
  margin: 10px 0px 0px;
}

.guide-splash-page {
  width: 100%;
  height: 50vh;
  background: linear-gradient(to right, #b6d1ef -50%, #0082df 100%);
  background-size: cover;
  background-position: left 65%;
}

.guide-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.guide-container-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.guide-container-top h2 {
  margin-bottom: 10px;
}

.guide-container-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.guide-container-bottom button {
  margin: 10px;
}

.guide-container-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  border: 1px solid black;
}

.page-background {
  height: 50vh;
  width: 100%;
  background: url("./Images/trees-splash-page.jpg");
  background-position: 100% 60%;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
}

/* application techniques page */

.grid-display-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 80%;
  margin: auto;
}

.grid-item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: fit-content;
  margin: 0px;
  padding: 10px;
  border: 1px solid #b6d1ef;
  border-radius: 5px;
}

.grid-item img {
  width: 50%;
}

.grid-item2 {
  width: 50%;
  height: fit-content;
}

.ATDnavbar {
  width: 70%;

  margin: 10px auto;
  display: flex;
  justify-content: space-evenly;
}

.ATDnavbar button {
  margin: 3px;
}

@media (max-width: 1200px) {
  .ATDnavbar {
    flex-wrap: wrap;
    justify-content: center;
  }

  .ATDnavbar button {
    font-size: 10px;
  }
}

/* Intro to Beauty*/

.flex-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  text-align: center;
  width: 90%;
  height: 80vh;
  margin: auto;
}

.flex-container * {
  margin: 10px;
}

.intro-to-beauty-first-banner {
  padding: 100px 0px;
  background: url("./Images/trees-splash-page.jpg");
  background-position: 100% 50%;
}

.nav-panel {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 10px;
  width: 30%;
  height: 100%;
  overflow: scroll;
}

.content-panel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 100%;
  border: 1px solid #b6d1ef;
  border-radius: 30px;
  overflow: scroll;
}

.content-panel img {
  width: 90%;
  height: auto;
}

@media (max-width: 982px) {
  .flex-container {
    height: 70vh;
    width: 100%;
  }

  .nav-panel {
    width: 40%;
  }
}

/* sub button */
.sub-button {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 12px;
  margin: 10px;
  text-align: left;
  margin: 1px;
  padding: 5px 15px;
}

.sub-button:hover {
  color: #0082df;
  background-color: white;
}

@media (max-width: 768px) {
  .sub-button {
    font-size: 9px;
  }
}

.nav-panel button {
  text-align: left;
  border: none;
  background-color: white;
  color: black;
}

.bigger-btn {
  font-size: 20px;
  margin: 0px;
}

.bigger-btn:hover {
  transition: all 0.3s;
  font-size: 21px;
}
